<!DOCTYPE html>

<html lang="ru">
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body class="index is-loading">
		<div id="page-wrapper">
			<!-- Header -->
			{% include header.html %}	
			<!-- Nav -->
			{% include nav.html %}	

			<!-- Banner -->
			<div class="banner-wrapper">
				<section id="banner" class="banner container">
					<h1>Медные радиаторы и полотенцесушители</h1>
					<p>В Москве. На заказ за 21 день. И цены тоже есть.</p>
					<a href="#start" class="arrow scrolly">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
							<style type="text/css">.st0{fill:#3E3E3E;}</style>
							<g>
								<path class="st0" d="M256,512c-4.3,0-7.8-3.5-7.8-7.8V7.8c0-4.3,3.5-7.8,7.8-7.8c4.3,0,7.8,3.5,7.8,7.8v496.3
									C263.8,508.5,260.3,512,256,512z"/>
								<path class="st0" d="M256,512L256,512c-2.1,0-4.1-0.8-5.6-2.3L53.8,313c-3.1-3.1-3.1-8,0-11.1c3.1-3.1,8-3.1,11.1,0L256,493.1
									l191.2-191.1c3.1-3.1,8-3.1,11.1,0s3.1,8,0,11.1L261.5,509.7C260,511.2,258.1,512,256,512z"/>
							</g>
						</svg>
					</a>
				</section>
			</div>
			
			<!-- Main -->
			{{ content }}


			<!-- Footer -->
			{% include footer.html %}	
			<!-- Scripts -->
			{% include scripts.html %}	
		</div>
	</body>
</html>