<!DOCTYPE HTML>

<html lang="ru">
	<head>
		{% include head.html %}
		<link rel="stylesheet" href="/assets/css/copper-land.min.css" />
		{% seo %}
	</head>
	<body class="is-loading">
		<div id="page-wrapper">
			<!-- Header -->
			{% include header.html %}	
			<!-- Nav -->
			{% include nav.html %}	

			<!-- Banner -->
			
			<div class="banner-wrapper-landing">
				<section id="banner" class="banner container" style="margin-bottom:0">
					<h1><span>Единственные полностью медные радиаторы отопления</span></h1>
					<p><span>В Москве. На заказ за 21 день. И цены тоже есть.</span></p>
					<a href="#start" class="arrow scrolly"><img src="images/arrow.svg" /></a>
				</section>
			</div>
			
			<!-- Main -->
			<article id="start">
				<div class="slide">	
					<img class="image" src="/images/landing/medniy-radiator-otopleniya-copperi-1.jpg" alt="Медный радиатор отопления copperi"/>
					<div class="slide-inner">
						<section>
							<header>
								<h2>Почему медь?</h2>
							</header>
							<p>Медь - материал с самой высокой теплопроводностью. Любые компромиссные решения по сочетанию меди с другими материалами не могут сравниться по своей эффективности с полностью медными радиаторами из-за потерь тепловой энергии на границе различных материалов.</p>
							<p>Мы используем только чистую медь, один из самых экологичных материалов. Все соединения выполнены при помощи медных пресс-фитингов, без применения пайки и вредных материалов припоя.</p>
						</section>
					</div>
				</div>
				<div class="slide slide-right">	
					<div class="slide-inner">
						<section>
							<header>
								<h2>Особенности</h2>
							</header>
							<ul>
								<li>Высокая динамика обогрева и минимальная тепловая инерция</li>
								<li>Эффективность даже при низких температурах теплоносителя</li>
								<li>Устойчивость к перепадам давления</li>
								<li>Высочайшая коррозионная стойкость материалов</li>
								<li>Возможность подключения к отопительным системам различных типов с любым теплоносителем</li>
							</ul>
							<h3>Характеристики</h3>
							<ul>
								<li>Рабочее давление: 1,6 МПа (16 атм)</li>
								<li>Испытательное давление: 2,4 МПа (24 атм)</li>
								<li>Температура теплоносителя: до 110°С</li>
								<li>Присоединительный размер: G 1/2'', внутреняя</li>
								<li>Подключение: боковое, нижнее</li>
							</ul>
						</section>
					</div>
					<img class="image" src="/images/landing/medniy-radiator-otopleniya-copperi-2.jpg" alt="Медная батарея отопления copperi"/>
				</div>
				<div class="slide">	
					<img class="image" src="/images/landing/medniy-radiator-otopleniya-copperi-plain.jpg" alt="Медный радиатор отопления copperi plain"/>
					<div class="slide-inner">
						<section>
							<header>
								<h2>Plain</h2>
								<p>от 24 490 &#8381;</p>
							</header>
							<p>Лаконичная форма и огромное количество цветовых сочетаний. Переднюю панель радиатора можно окрасить в один цвет с корпусом или выбрать контрастный цвет.</p>
							<ul>
								<li>Полностью медный теплообменник</li>
								<li>Корпус из стали с порошковой покраской</li>
								<li>Любой цвет по RAL</li>
								<li>Матовая или глянцевая окраска</li>
								<li>Нижнее или боковое подключение</li>
							</ul>
							<footer>
								<ul class="actions align-center">
									<li><a href="/catalog/plain-h" class="button alt">Подробнее</a></li>
								</ul>
							</footer>
						</section>
					</div>
				</div>
				<div class="slide slide-right">	
					<div class="slide-inner">
						<section>
							<header>
								<h2>Antiq</h2>
								<p>от 49 400 &#8381;</p>
							</header>
							<p>Состаренная медь от золотистого до темно-коричневого цвета. Патина наносится мастерами вручную, поэтому каждый радиатор уникален. Покрытие матовым или глянцевым лаком сохранит рисунок неизменным.</p>
							<ul>
								<li>Полностью медный теплообменник</li>
								<li>Передняя панель из состаренной меди</li>
								<li>Матовый или глянцевый лак</li>
								<li>Ручная работа - каждый радиатор уникален</li>
								<li>Нижнее или боковое подключение</li>
							</ul>
							<footer>
								<ul class="actions align-center">
									<li><a href="/catalog/antiq" class="button alt">Подробнее</a></li>
								</ul>
							</footer>
						</section>
					</div>
					<img class="image" src="/images/landing/dizayn-radiator-copperi-antiq.jpg" alt="Медный дизайнерский радиатор copperi antiq"/>
				</div>
				<footer class="container align-center">
					<ul class="actions">
						<li><a class="button big special" href="/catalog/">Полный каталог</a></li>
					</ul>
				</footer>
				
			</article>
			{{ content }}


			<!-- Footer -->
			{% include footer.html %}	
			<!-- Scripts -->
			{% include scripts.html %}	
		</div>
	</body>
</html>